@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.about-section {
  margin-bottom: 40px;
}

.about-title {
  text-transform: capitalize;
  color: #1e3a8a;
  text-align: center;
  font-family: serif;
  font-size: 48px;
}

/* About Grid */
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-left: 40px;
  margin-top: 40px;
}

/* .about-image img{
  width: 400px;
  border-radius: 12px;
} */

.about-image {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  background-size: cover;
  /* background-position: center; */
  animation: fade 9s infinite ease-in-out;
}

@keyframes fade {
  0% { background-image: url('../image/diagnose.jpg'); }
  50% { background-image: url('../image/diagno.jpg'); }
  75% { background-image: url('../image/DIAG.jpg'); }
  100% { background-image: url('../image/diagnose.jpg'); }
}

/* Mission Section */
.mission-section {
  margin-left: 40px;
}

.mission-title {
  text-transform: capitalize;
  text-align: center;
  font-family: serif;
  color: #1e3a8a;
  font-size: 36px;
}

.mission-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mission-text {
  margin-top: 40px;
}

.mission-images {
  display: flex;
  gap: 8px;
}

.mission-image-lg {
  width: 256px;
  border-radius: 8px;
}

.mission-image-sm {
  border-radius: 8px;
}
.ul{
  list-style-type: disc;
  /* margin-left: 20px; */
}

.cng {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}
.cng img {
  width: 300px;
  border-radius: 8px;
}