/* src/assets/style/BookingForm.css */

.booking-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.booking-form-container h2 {
  text-align: center;
  color: #3d3ddd;
  font-size: 28px;
  margin-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.booking-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.booking-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  margin-left: 5px;
}

.booking-form input,
.booking-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  /* margin-top: 10px; */
  transition: border 0.3s, box-shadow 0.3s;
}
.req{
  margin-top: 5px;
}

.booking-form input:focus,
.booking-form select:focus {
  border-color: #3d3ddd;
  box-shadow: 0 0 5px rgba(20, 12, 69, 0.3);
  outline: none;
}

.booking-form button {
  width: 100%;
  padding: 12px;
  background-color: #423ba5;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.booking-form button:hover {
  background-color: #3d3ddd;
}
