.footer {
  margin-top: auto;
}

.footer-container {
  background-color: #737373;
  border-radius: 6px;
  padding: 80px 32px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 32px;
}

.footer-heading {
  font-family: serif;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}

.footer-flex {
  display: flex;
  align-items: flex-start;
}

.footer-hotline-text {
  margin-top: 12px;
}

.footer-text {
  color: white;
  text-transform: capitalize;
  font-size: 15px;
}

.footer-icon {
  color: #d4d4d4;
  height: 80px;
  width: 80px;
}

.footer-icon-wide {
  color: #d4d4d4;
  height: 80px;
  width: 160px;
}

.footer-icon-crane {
  color: #d4d4d4;
  height: 80px;
  width: 240px;
}

.gap {
  gap: 12px;
}

.footer-middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 128px;
  margin-top: 32px;
}

.footer-subheading {
  font-family: serif;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

.footer-divider {
  border-bottom: 2px solid #d0d1d4;
  width: 64px;
  margin: 8px 0 16px 0;
}

.footer-social {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.footer-social-icon {
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 16px;
  width: 64px;
  height: 40px;
  color: white;
  transition: border-color 0.3s;
}

.footer-social-icon:hover {
  border-color: white;
}

.footer-list {
  list-style: none;
  padding: 0;
  font-family: serif;
  text-transform: capitalize;
  color: white;
}

.footer-list-item {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.footer-list-item:hover {
  text-decoration: underline;
  color: #d4d4d4;
}

.footer-tags-container {
  display: flex;
  gap: 4px;
  margin-top: 10px;
}

.footer-tags-container:first-of-type {
  margin-top: 0;
}

.footer-tagss {
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 16px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;
}
.footer-tagss:hover {
  border-color: #d1d5db;
  transform: scale(1.1);
  transition: 0.6s;
}
.footer-tag {
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 16px;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  transition: border-color 0.3s;
}

.footer-tag:hover {
  border-color: #d1d5db;
  transform: scale(1.1);
  transition: 0.6s;
}

.footer-hours {
  font-family: serif;
  text-transform: capitalize;
}

.footer-hours-list:hover {
  text-decoration: underline;
  color: #d4d4d4;
}

.footer-bottom {
  text-align: center;
  padding: 24px 0;
  font-size: 20px;
  font-family: serif;
  text-transform: capitalize;
}
