.backGround{
    background-image: url("../image/car-engine-new1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top; */
    /* display: flex; */
    border-radius: 20px;
    height: 100dvh;
}
.wel{ 
    font-size: xx-large;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.premium{
    display: flex;
    justify-content: end;
    align-items: end;
    /*COMING BACKFOR YOU*/
}
.schedule{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    gap: 8px;
    background-color: #48baf0;
    margin-top: 10px;
    padding: 8px 18px;
}
.diag{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.book{
    background-color: #0a7ce7ff;
    padding: 2px 4px;
    color: #000;
    font-size: xx-large;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.book:hover{
    background-color: #0862b6ff;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}
.what{
    text-transform: uppercase;
    text-align: center;
    font-size: xx-large;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.offer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 6px;
}
.all-what{
    display: flex;
    margin: 8px;
    gap: 10px;
}
.icon{
    text-align: center;
}
.iconTool{
  color: #000000;
  height: 90px;   
  width: 90px;    
}
.repair{
    text-align: center;
    color: #3d3ddd;
    /* font-family: semibold; */
    text-transform: capitalize;
}
.line{
    text-align: center;
    margin-left: 5px;
}
.service{
    display: flex;
    gap: 80px;
}
.lx{
    border-radius: 18px;
    width: 110%;
    height: 80%;
    margin-top: 10px;
}
.service-vehicle{
    margin-right: 24px;
}
.vehicle-serviced{
    text-align: center;
    text-transform: capitalize;
    color: #3d3ddd;
    font-family: bold;
    font-size: xx-large;
}
.we{
    text-align: center;
    font-size: x-large;
}
.are{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 5px;
    font-size: large;
    text-transform: capitalize;
}
ul{
    list-style: none;

}
.icon-checkbox{
    color: #3d3ddd;
}
.grid li{
    margin-top: 20px;
}
.render{
    text-align: center;
    font-size: xx-large;
    /* margin-top: 10px; */
    color: #3d3ddd;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
.change{
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.handle{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.rendered-service{
    display: flex;
    /* margin-top: 10px; */
}

.service-rendered{
    text-align: center;
    color: #3d3ddd;
    font-size: x-large;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
.team{
    margin: 34px 0 0 2px;
}
.high{
    margin: 5px 10px  0 0px;
}
.car{
    margin: 40px 0 0 2px;
}
.bat{
    margin: 30px 0 0 2px;
}
.wifi{
    margin: 30px 0 0 2px;
}
.why{
    text-align: center;
    font-size: xx-large;
    color: #3d3ddd;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.chevron{
    font-size: xx-large;
    height: 90px;
}
.icon-chevron {
  color: #3d3ddd;
  height: 50px;   
  width: 50px;    
  margin-top: 5px; 
  margin-right: 2px; 
}
